openapi: 3.0.4
info:
  title: Inlet Shop API
  version: 1.0.0
  description: API for Inlet.Shop.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.inlet.shop
    description: Production server
  - url: http://127.0.0.1:8001
    description: Development server

x-tagGroups:
  - name: User
    tags:
      - User Products
      - User Vendors
      - User Vendors Products
  - name: Vendor
    tags:
      - Vendor
      - Vendor Products

paths:
  #User
  /user/vendors/{vendor_url}:
    get:
      $ref: "./paths/user/vendors/get_one.yaml"
  /user/vendors:
    get:
      $ref: "./paths/user/vendors/get_many.yaml"
  #User Products
  /user/products/{product_id}:
    get:
      $ref: "./paths/user/products/get_one.yaml"
  #User Vendors Products
  /user/vendors/{vendor_id}/products:
    get:
      $ref: "./paths/user/vendors/products/get_many.yaml"

  #Vendor
  /vendor/password:
    post:
      $ref: "./paths/vendor/createPassword.yaml"
    put:
      $ref: "./paths/vendor/changePassword.yaml"
  /vendor/login:
    post:
      $ref: "./paths/vendor/login.yaml"
  /vendor/logout:
    post:
      $ref: "./paths/vendor/logout.yaml"
  /vendor:
    get:
      $ref: "./paths/vendor/me.yaml"
    put:
      $ref: "./paths/vendor/update.yaml"
  /vendor/thumbnail:
    put:
      $ref: "./paths/vendor/update_thumbnail.yaml"
  /vendor/password/reset:
    post:
      $ref: "./paths/vendor/password_email.yaml"
    put:
      $ref: "./paths/vendor/reset_password.yaml"
  /vendor/connect:
    post:
      $ref: "./paths/vendor/create_connect.yaml"
  /vendor/connect/onboarding:
    post:
      $ref: "./paths/vendor/create_session.yaml"
  #Vendor Products
  /vendor/products:
    post:
      $ref: "./paths/vendor/products/create.yaml"
    get:
      $ref: "./paths/vendor/products/get_many.yaml"
  /vendor/products/{product_id}:
    delete:
      $ref: "./paths/vendor/products/delete.yaml"
    get:
      $ref: "./paths/vendor/products/get_one.yaml"
  /vendor/products/{product_id}/images:
    post:
      $ref: "./paths/vendor/products/add_images.yaml"

components:
  schemas:
    Price:
      $ref: "./components/schemas/price.yaml"
    PublicData:
      $ref: "./components/schemas/publicData.yaml"
    Product:
      $ref: "./components/schemas/product.yaml"
  responses:
    "400":
      $ref: "./components/responses/400.yaml"
    "401":
      $ref: "./components/responses/401.yaml"
    "403":
      $ref: "./components/responses/403.yaml"
    "500":
      $ref: "./components/responses/500.yaml"
  securitySchemes:
    $ref: "./components/security.yaml"
