openapi: 3.0.4
info:
  title: Inlet Shop API
  version: 1.0.0
  description: API for Inlet.Shop.

servers:
  - url: https://api.inlet.shop
    description: Production server
  - url: http://127.0.0.1:8001
    description: Development server

tags:
  - name: Vendor
    description: Operations related to vendors

paths:
  $ref: "./paths/vendor.yaml"

components:
  schemas:
    Vendor:
      $ref: "./components/vendor.yaml"
    PublicData:
      $ref: "./components/publicData.yaml"
  securitySchemes:
    $ref: "./components/security.yaml"
  responses:
    "400":
      $ref: "./components/responses/400.yaml"
    "401":
      $ref: "./components/responses/401.yaml"
    "403":
      $ref: "./components/responses/403.yaml"
    "404":
      $ref: "./components/responses/404.yaml"
    "500":
      $ref: "./components/responses/500.yaml"
