openapi: 3.0.4
info:
  title: Inlet Shop API
  version: 1.0.0
  description: API for Inlet.Shop.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.inlet.shop
    description: Production server
  - url: http://127.0.0.1:8001
    description: Development server

x-tagGroups:
  - name: User
    tags:
      - User Vendors
  - name: Vendor
    tags:
      - Vendor
  - name: Product
    tags:
      - Product


paths:
  #User
  /user/vendors/{vendor_url}:
    get:
      $ref: "./paths/user/vendors/get_one.yaml"
  /user/vendors:
    get:
      $ref: "./paths/user/vendors/get_many.yaml"

  #Vendor
  /vendor/password:
    post:
      $ref: "./paths/vendor/createPassword.yaml"
    put:
      $ref: "./paths/vendor/changePassword.yaml"
  /vendor/login:
    post:
      $ref: "./paths/vendor/login.yaml"
  /vendor:
    get:
      $ref: "./paths/vendor/me.yaml"
    put:
      $ref: "./paths/vendor/update.yaml"
  /vendor/thumbnail:
    put:
      $ref: "./paths/vendor/update_thumbnail.yaml"






  # Vendor
  /vendor/password/email:
    post:
      $ref: "./paths/vendor/passwordEmail.yaml"
  /vendor/password/reset:
    post:
      $ref: "./paths/vendor/resetPassword.yaml"
  /vendor/connect:
    post:
      $ref: "./paths/vendor/createConnect.yaml"
  /vendor/connect/session:
    post:
      $ref: "./paths/vendor/createSession.yaml"

  # Product
  /product:
    post:
      $ref: "./paths/product/create.yaml"
  /product/{product_id}:
    delete:
      $ref: "./paths/product/delete.yaml"
  /vendor/{vendor_id}/product:
    get:
      $ref: "./paths/product/getVendorProducts.yaml"

components:
  schemas:
    Price:
      $ref: "./components/schemas/price.yaml"
    PublicData:
      $ref: "./components/schemas/publicData.yaml"
  securitySchemes:
    $ref: "./components/security.yaml"
