openapi: 3.0.4
info:
  title: Inlet Shop API
  version: 1.0.0
  description: API for Inlet.Shop.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.inlet.shop
    description: Production server
  - url: http://127.0.0.1:8001
    description: Development server

tags:
  - name: Vendor
    description: Operations related to vendors

paths:
  # Vendor
  /vendor/{vendor_id}/password/{token}:
    $ref: "./paths/vendor/createPassword.yaml"
  /vendor/password:
    $ref: "./paths/vendor/changePassword.yaml"
  /vendor/login:
    $ref: "./paths/vendor/login.yaml"
  /vendor/self:
    $ref: "./paths/vendor/getSelf.yaml"
  /vendor/{vendor_url}:
    $ref: "./paths/vendor/get.yaml"
  /vendor:
    $ref: "./paths/vendor/getAll.yaml"

components:
  securitySchemes:
    $ref: "./components/security.yaml"
